security:
    encoders:
        EmVista\EmVistaBundle\Entity\Usuario:
            algorithm: sha1
            encode_as_base64: false
            iterations: 1

    providers:
        emvista:
            entity: { class: EmVistaBundle:Usuario, property: email}

    firewalls:
        main:
            pattern: ^/
            anonymous: true
            form_login:
                login_path: /usuario/login
                check_path: /login_check
            logout:
                path: /logout
                target: /
            oauth:
                resource_owners:
                    facebook: /login/check-facebook
                    google:   /login/check-google
                    twitter:  /login/check-twitter
                login_path: /login
                failure_path: /
                oauth_user_provider:
                    service: oauth_provider

    access_control:
        - { path: ^/admin, roles: ROLE_ADMIN }
        - { path: ^/pagamento/checkout, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/pagamento/continue-checkout, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/pagamento/retorno-pagamento, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/usuario/meus-projetos, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/usuario/contribuicoes, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/usuario/dados-pessoais, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/usuario/alterar-dados-pessoais, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/usuario/confirmacao-inativar-conta, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/usuario/inativar-conta, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/usuario/salvar-imagem-temporaria-profile, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/usuario/recorta-imagem-profile, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/usuario/apoiadores-projeto, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/submissao, roles: IS_AUTHENTICATED_FULLY }